*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 250px);
  display: grid;
}

.header {
  grid-column: 1/-1;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;

  & .name {
    font-size: 1.4rem;
    margin: 0.5rem;
  }

  & #github-link {
    display: block;
    border: 1px solid rgba(black, 0.3);
    width: max-content;
    padding: 1rem;
  }
}

.card {
  width: 250px;
  position: relative;
  border: 1px solid rgba(black, 0.3);
  cursor: pointer;
  overflow: hidden;

  & a {
    position: absolute;
    color: black;
    width: 100%;
    top: 10%;
    right: 0%;
    padding: 0.3rem;
    font-size: 2rem;
    text-align: center;
    font-style: bold;
    z-index: 100;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(grey, 0.7);
      mix-blend-mode: hue;
      transform: skew(20deg);
    }
  }

  & p {
    padding: 1rem;
    font-style: italic;
  }

  & ul {
    font-size: 0.8rem;
    list-style-type: circle;
  }
}

.image-container {
  width: 250px;
  height: 250px;
  object-fit: contain;
  padding: 0.5rem;

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
